// AboutPage

.aboutPage {
    .avatar {
        margin-top: 1rem;
        width: 16rem;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: var(--light-color);
    }
    .content {
        text-align: center;
        width: calc(100% - 2rem);
    }
    section {
        background: var(--dark-color);
        color: var(--light-color);
    }
    a {
        text-decoration: underline;
    }
}
