.workRoll {
    width: 100%;
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .workItem {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .workItemInner {
        .workImage {
            grid-row: 2 / span 2;
            grid-column: 2;
        }
        padding: 1.5rem 1rem;
        border-radius: 0.5rem;
        color: var(--light-color);
        background: var(--tile-color);
        // box-shadow: var(--box-shadow);
        display: grid;
        width: calc(100% - 1rem);
        margin: 0.5rem 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        column-gap: 0.5rem;
        row-gap: 1rem;

        .workHeaderContainer {
            grid-column: 1 / span 2;
            display: flex;
            justify-content: space-between;
            .workHeader {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 0.6rem;
                font-family: var(--font-title);
                font-weight: 500;
                .workTitle {
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
        .workContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            ul {
                margin: 0;
            }
        }
        .viewMore {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .viewLink {
            border-radius: 0.5rem;
            color: var(--light-color);
            border: 1px solid var(--light-color-3);
            padding: 0.5rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                color: var(--shadow-color);
                border: 1px solid var(--dark-color);
                background-color: var(--dark-color);
            }
        }
        .workTitle {
            font-weight: bold;
            margin-right: 1rem;
            font-size: 1.2rem;
        }
        .workDescription {
            color: var(--shadow-color);
        }
        p {
            margin-top: 0;
        }
        .workLinks {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .linkItem {
                padding: 0 0.5rem;
                margin-right: 0.5rem;
                border-radius: 0.5rem;
                .linkIcon {
                    margin-right: 0.5rem;
                    font-size: 1.5rem;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--light-color);
                    &:hover {
                        color: var(--shadow-color);
                    }
                }
            }
        }
        .workTools {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            .toolItem {
                padding: 0 0.5rem;
                margin: 0.5rem 0.5rem 0 0;
                border-radius: 0.5rem;
                background: var(--shadow-color-3);
            }
        }
    }
}

@media (min-width: 100rem) {
    .workRoll {
        max-width: 75rem;
    }
}

@media (max-width: 50rem) {
    .workRoll {
        .workItemInner {
            display: flex;
            flex-direction: column;
            .workHeaderContainer {
                // flex-direction: column;
                // margin-bottom: 0.5rem;
                .workLinks {
                    // margin: 1rem;
                    // margin-bottom: -1rem;
                    flex-direction: row;
                    // justify-content: flex-end;
                }
                .linkItem {
                    padding: 0;
                    .linkIcon {
                        margin: 0;
                    }
                }
                .linkText {
                    display: none;
                }
            }
            .workPoints {
                display: none;
            }
            .workTools {
                display: none;
            }
            .workImage {
                margin-bottom: 0.5rem;
            }
        }
    }
}
